<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Partner count: <%= partners.length %></p>
    <p>Categories: <%= categories.length %></p>
    <p>Status filter: <%= filters.status %></p>
</body>
</html>
